@media screen and (max-width:1080px) {
    .option{width:80%;margin-top:5%;}
   } 


#gros{
    width: 100px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
    }

    #Boo{
        width: 100px;
        border-radius: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto
        }
    
        #BG{
            width: 100px;
            border-radius: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto
            }

            #alco{
                width: 100px;
                border-radius: 30%;
                display: block;
                margin-left: auto;
                margin-right: auto
                }
    



    h1, h2{
    
    text-align: center;
    font-style: italic
    }

    .AP1, .P1 {
        text-align: center;
      }